[submodule "packages/lint"]
	path = packages/lint
	url = https://github.com/bridgedxyz/lint
[submodule "packages/design-sdk"]
	path = packages/design-sdk
	url = https://github.com/bridgedxyz/design-sdk.git
[submodule "packages/reflect-detection"]
	path = packages/reflect-detection
	url = https://github.com/bridgedxyz/reflect-detection.git
[submodule "packages/client-sdk"]
	path = packages/client-sdk
	url = https://github.com/bridgedxyz/client-sdk-ts.git
[submodule "packages/reflect-core"]
	path = packages/reflect-core
	url = https://github.com/bridgedxyz/reflect-core-ts.git
[submodule "packages/reflect-ui-generator"]
	path = packages/reflect-ui-generator
	url = https://github.com/bridgedxyz/reflect-ui-generator.git
[submodule "packages/coli"]
	path = packages/coli
	url = https://github.com/bridgedxyz/coli
[submodule "packages/editor-ui"]
	path = packages/editor-ui
	url = https://github.com/bridgedxyz/reflect-editor-ui
[submodule "packages/design-to-code"]
	path = packages/design-to-code
	url = https://github.com/bridgedxyz/design-to-code
