[submodule "packages/flutter-builder"]
	path = packages/flutter-builder
	url = https://github.com/bridgedxyz/flutter-builder.git
	branch = main
[submodule "packages/lint"]
	path = packages/lint
	url = https://github.com/bridgedxyz/lint
[submodule "packages/design-sdk"]
	path = packages/design-sdk
	url = https://github.com/bridgedxyz/design-sdk.git
[submodule "packages/reflect-detection"]
	path = packages/reflect-detection
	url = https://github.com/bridgedxyz/reflect-detection.git
[submodule "packages/client-sdk"]
	path = packages/client-sdk
	url = https://github.com/bridgedxyz/client-sdk-ts.git
