.preview {
  padding: 12px;
  background: #f1f1f1;
  height: calc(200px - 24px);
}

.preview-loading {
  width: 100%;
  background-color: gray;
}

.render {
  /* .render height equal .preview height */
  width: 100%;
  height: calc(200px - 24px);
  text-align: center;
  object-fit: contain;
  display: table;
}

.inner-render {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.rendering-notify {
  color: #adaeb2;
  font-size: 18px;
}
