/* body {
  font: 12px;
  text-align: left;
  margin: 16;
} */
button {
  border-radius: 4px;
  background: white;
  color: black;
  border: 2px;
  padding: 8px 15px;
  margin: 0 5px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}

#create {
  box-shadow: none;
  background: #18A0FB;
  color: white;
}

input {
  border: none;
  outline: none;
  padding: 8px;
}

input:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

button:focus {
  box-shadow: inset 0 0 0 2px #18A0FB;
}

#create:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

input:focus {
  box-shadow: inset 0 0 0 2px #18A0FB;
}

h1,
h2,
h3,
h4,
h5,
h6,
sub,
p {
  font-family: "Roboto";
}