.preview {
  margin: 0 -8px;
  padding: 12px;
  background: #F1F1F1;
  height: 200px;
}

.preview-loading {
  width: 100%;
  background-color: gray;
}

.render {
  /* .render height equal .preview height */
  width: 100%;
  height: 200px;
  text-align: center;
  object-fit: contain;
  display: table;
}

.inner-render {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.rendering-notify {
  color: #ADAEB2;
  font-size: 18px;

}